@model int  
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td>
    <div class="btn-group ">
        

        <a asp-action="Edit" asp-controller="Orden" class="btn btn-outline-primary" asp-route-id="@Model">
            <span class="glyphicon glyphicon-edit"></span> Editar
        </a>
    </div>
</td>