@model TiendaOnline.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="text-uppercase text-center">Registro de usuario</h5>
            </div>
            <div class="card-body">
                <form asp-action="Register">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Nombre"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Apellido"></label>
                                <input asp-for="Apellido" class="form-control" />
                                <span asp-validation-for="Apellido" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Telefono"></label>
                                <input asp-for="Telefono" class="form-control" />
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="datebirth"></label>
                                <input asp-for="datebirth" class="form-control" />
                                <span asp-validation-for="datebirth" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Contraseña"></label>
                                <input asp-for="Contraseña" class="form-control" />
                                <span asp-validation-for="Contraseña" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ConfirmarContraseña"></label>
                                <input asp-for="ConfirmarContraseña" class="form-control" />
                                <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Registrar" class="btn btn-sm btn-primary text-uppercase rounded-0" />
                </form>
            </div>
        </div>
    </div>
</div>  