@model TiendaOnline.Models.SpecialTag
@{
    ViewData["Title"] = "Editar";
}

<br />
<h2 class="text-info">Editar Etiqueta de Producto</h2>
<form asp-action="Edit" method="post">
    <div class="p-4 rounded border">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="specialTag">Tipo: </label>
            </div>
            <div class="col-5">
                <input asp-for="specialTag" class="form-control" />
            </div>
            <span asp-validation-for="specialTag" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" asp-action="Edit" class="btn btn-outline-primary" value="Editar" />
            <a asp-action="Index" class="btn btn-outline-success">Ir a la lista</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

